In [1]:
import pandas as pd
import os

In [2]:
path = os.path.join('..','resources','cleaned_data', 'movies_complete_cleaned.csv')
df = pd.read_csv(path)
selected = ['name', 'year', 'budget', 'gross']
df = df[selected]
df

                                           name  year    budget      gross
0                                          Gold  2016  20000000    7222964
1                                    The Choice  2016         0   18709066
2     Middle School: The Worst Years of My Life  2016   8500000   19985196
3                              Midnight Special  2016  18000000    3707794
4                               A Monster Calls  2016  43000000    3730982
...                                         ...   ...       ...        ...
6251                     The Karate Kid Part II  1986         0  115103979
6252                                  Mona Lisa  1986         0    5794184
6253                            Ginger and Fred  1986         0     837623
6254                                   Critters  1986   2000000   13167232
6255             Poltergeist II: The Other Side  1986  19000000   40996665

[6256 rows x 4 columns]

In [3]:
path = os.path.join('..','resources','raw_data', 'CPI_data.csv')
CPI = pd.read_csv(path)
CPI.set_index("Year", inplace = True)
CPI = CPI[CPI.index >= min(df.year)]
CPI = CPI["Annual"]
CPI.head()

Year
1986    109.6
1987    113.6
1988    118.3
1989    124.0
1990    130.7
Name: Annual, dtype: float64

In [4]:
CPI_dict = CPI.to_dict()

In [5]:
CPI_dict[2020]

258.811

In [9]:
df_new = df.copy()

df_new['adjusted_budget'] = ''
df_new['adjusted_gross'] = ''

CPI_new =CPI_dict[2020]

for i, row in df.iterrows():
    year_old = row[1]
    
    CPI_old = CPI_dict[year_old]
            
    budget_new = int(round(row[2]*(CPI_new/CPI_old),0))
    gross_new = int(round(row[3]*(CPI_new/CPI_old),0))
    
    df_new.loc[i, 'adjusted_budget'] = budget_new
    df_new.loc[i, 'adjusted_gross'] = gross_new

    
df_new.head()

,name,year,budget,gross,adjusted_budget,adjusted_gross
0,Gold,2016,20000000,7222964,21566954,7788867
1,The Choice,2016,0,18709066,0,20174879
2,Middle School: The Worst Years of My Life,2016,8500000,19985196,9165956,21550990
3,Midnight Special,2016,18000000,3707794,19410259,3998291
4,A Monster Calls,2016,43000000,3730982,46368952,4023296

In [12]:
df_new[['adjusted_budget', 'adjusted_gross']] = df_new[['adjusted_budget', 'adjusted_gross']].astype(int)

In [13]:
df_new.dtypes

name               object
year                int64
budget              int64
gross               int64
adjusted_budget     int64
adjusted_gross      int64
dtype: object

In [14]:
path = os.path.join('..','resources','cleaned_data', 'adjusted_financials.csv')
df_new.to_csv(path, index = False)