In [1]:
import pandas as pd
import os

In [2]:
# Read in CSV ***** CHANGE PATH WHEN MOVED TO FINALPROJECT FOLDER!
path = os.path.join('finalproject','resources','cleaned_data', 'movies_complete_cleaned.csv')
raw_df = pd.read_csv(path)
raw_df.head()

,name,production,director,runtime,released,year,month,country_kaggle,country_omdb,star_kaggle,...,plot,awards,score_imdb,votes_imdb,score_metacritic,budget,genre_kaggle,gross,genres_omdb,rating
0,Gold,Black Bear Pictures,Stephen Gaghan,120,2017-01-27,2016,1,USA,USA,Matthew McConaughey,...,"With the sudden death of his father, fourth-ge...",1 win & 5 nominations.,6.7,32147,49.0,20000000,Adventure,7222964,"Crime, Drama",R
1,The Choice,Nicholas Sparks Productions,Ross Katz,111,2016-02-05,2016,2,USA,United States,Benjamin Walker,...,"In a small coastal town, the veterinarian Trav...",3 nominations,6.6,22972,26.0,0,Drama,18709066,"Drama, Romance",PG-13
2,Middle School: The Worst Years of My Life,CBS Films,Steve Carr,92,2016-10-07,2016,10,USA,"USA, Cambodia",Griffin Gluck,...,Imaginative quiet teenager Rafe Katchadorian i...,5 nominations.,6.1,4556,51.0,8500000,Animation,19985196,"Animation, Comedy, Family",PG
3,Midnight Special,Warner Bros.,Jeff Nichols,112,2016-04-21,2016,4,USA,"USA, Greece",Michael Shannon,...,Alton Meyer is a boy unlike any other in the w...,3 wins & 14 nominations.,6.7,58549,76.0,18000000,Drama,3707794,"Drama, Mystery, Sci-Fi, Thriller",PG-13
4,A Monster Calls,Apaches Entertainment,J.A. Bayona,108,2017-01-06,2016,1,UK,"UK, Spain, USA",Lewis MacDougall,...,The monster does not come walking often. This ...,39 wins & 56 nominations.,7.5,49969,76.0,43000000,Drama,3730982,"Adventure, Drama, Family, Fantasy",PG-13

In [3]:
raw_df.rating.value_counts()

R        3261
PG-13    1903
PG        927
G         143
NC-17      22
Name: rating, dtype: int64

In [4]:
no_nc_df = raw_df[raw_df["rating"] != "NC-17"]
no_nc_df.head()

,name,production,director,runtime,released,year,month,country_kaggle,country_omdb,star_kaggle,...,plot,awards,score_imdb,votes_imdb,score_metacritic,budget,genre_kaggle,gross,genres_omdb,rating
0,Gold,Black Bear Pictures,Stephen Gaghan,120,2017-01-27,2016,1,USA,USA,Matthew McConaughey,...,"With the sudden death of his father, fourth-ge...",1 win & 5 nominations.,6.7,32147,49.0,20000000,Adventure,7222964,"Crime, Drama",R
1,The Choice,Nicholas Sparks Productions,Ross Katz,111,2016-02-05,2016,2,USA,United States,Benjamin Walker,...,"In a small coastal town, the veterinarian Trav...",3 nominations,6.6,22972,26.0,0,Drama,18709066,"Drama, Romance",PG-13
2,Middle School: The Worst Years of My Life,CBS Films,Steve Carr,92,2016-10-07,2016,10,USA,"USA, Cambodia",Griffin Gluck,...,Imaginative quiet teenager Rafe Katchadorian i...,5 nominations.,6.1,4556,51.0,8500000,Animation,19985196,"Animation, Comedy, Family",PG
3,Midnight Special,Warner Bros.,Jeff Nichols,112,2016-04-21,2016,4,USA,"USA, Greece",Michael Shannon,...,Alton Meyer is a boy unlike any other in the w...,3 wins & 14 nominations.,6.7,58549,76.0,18000000,Drama,3707794,"Drama, Mystery, Sci-Fi, Thriller",PG-13
4,A Monster Calls,Apaches Entertainment,J.A. Bayona,108,2017-01-06,2016,1,UK,"UK, Spain, USA",Lewis MacDougall,...,The monster does not come walking often. This ...,39 wins & 56 nominations.,7.5,49969,76.0,43000000,Drama,3730982,"Adventure, Drama, Family, Fantasy",PG-13

In [5]:
# Check to make sure that NC-17 rows have been removed
no_nc_df.rating.value_counts()

R        3261
PG-13    1903
PG        927
G         143
Name: rating, dtype: int64

In [6]:
# Grab ratings data to apply label encoding 
ratings = no_nc_df[["name", "rating"]]
ratings

                                           name rating
0                                          Gold      R
1                                    The Choice  PG-13
2     Middle School: The Worst Years of My Life     PG
3                              Midnight Special  PG-13
4                               A Monster Calls  PG-13
...                                         ...    ...
6251                     The Karate Kid Part II     PG
6252                                  Mona Lisa      R
6253                            Ginger and Fred  PG-13
6254                                   Critters  PG-13
6255             Poltergeist II: The Other Side  PG-13

[6234 rows x 2 columns]

In [7]:
# Import label encoder 
from sklearn import preprocessing

In [8]:
# Set label encoder method to variable for use
label_encoder = preprocessing.LabelEncoder()

In [9]:
# Encode ratigs  
ratings["encoded_rating"] = label_encoder.fit_transform(ratings["rating"]) 
ratings

/Users/alannahmarie/opt/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

                                           name rating  encoded_rating
0                                          Gold      R               3
1                                    The Choice  PG-13               2
2     Middle School: The Worst Years of My Life     PG               1
3                              Midnight Special  PG-13               2
4                               A Monster Calls  PG-13               2
...                                         ...    ...             ...
6251                     The Karate Kid Part II     PG               1
6252                                  Mona Lisa      R               3
6253                            Ginger and Fred  PG-13               2
6254                                   Critters  PG-13               2
6255             Poltergeist II: The Other Side  PG-13               2

[6234 rows x 3 columns]

In [10]:
ratings.encoded_rating.value_counts()

3    3261
2    1903
1     927
0     143
Name: encoded_rating, dtype: int64

In [11]:
ratings.rating.value_counts()

R        3261
PG-13    1903
PG        927
G         143
Name: rating, dtype: int64

In [12]:
# Read in tokenized plot Dataframe 
path = os.path.join('finalproject','resources','cleaned_data', 'plot_features.csv')
plots_df = pd.read_csv(path)
plots_df.head()

,name,plot,idf_token
0,Gold,"With the sudden death of his father, fourth-ge...","(262144,[3048,9056,10769,12021,17058,19200,209..."
1,The Choice,"In a small coastal town, the veterinarian Trav...","(262144,[5,11104,11992,24980,25337,27074,27576..."
2,Middle School: The Worst Years of My Life,Imaginative quiet teenager Rafe Katchadorian i...,"(262144,[3072,21894,27576,38968,41165,42404,49..."
3,Midnight Special,Alton Meyer is a boy unlike any other in the w...,"(262144,[429,9129,11104,19191,19200,21894,2257..."
4,A Monster Calls,The monster does not come walking often. This ...,"(262144,[4360,17893,18700,21823,24657,27576,30..."

In [13]:
# Merge ratings and plot dataframes
merged_df = ratings.merge(plots_df, on="name")
merged_df.head()

,name,rating,encoded_rating,plot,idf_token
0,Gold,R,3,"With the sudden death of his father, fourth-ge...","(262144,[3048,9056,10769,12021,17058,19200,209..."
1,The Choice,PG-13,2,"In a small coastal town, the veterinarian Trav...","(262144,[5,11104,11992,24980,25337,27074,27576..."
2,Middle School: The Worst Years of My Life,PG,1,Imaginative quiet teenager Rafe Katchadorian i...,"(262144,[3072,21894,27576,38968,41165,42404,49..."
3,Midnight Special,PG-13,2,Alton Meyer is a boy unlike any other in the w...,"(262144,[429,9129,11104,19191,19200,21894,2257..."
4,A Monster Calls,PG-13,2,The monster does not come walking often. This ...,"(262144,[4360,17893,18700,21823,24657,27576,30..."

In [14]:
target = merged_df["encoded_rating"]
target_names = ["G", "PG", "PG-13", "R"]
target

0       3
1       2
2       1
3       2
4       2
       ..
5890    1
5891    3
5892    2
5893    2
5894    2
Name: encoded_rating, Length: 5895, dtype: int64

In [15]:
token_tuple = merged_df["idf_token"]
token_tuple[1]

'(262144,[5,11104,11992,24980,25337,27074,27576,29440,33358,33917,37521,49120,54961,59317,67483,69099,71845,75249,75958,77527,79711,89593,89717,91301,91412,95889,106841,107107,111100,112849,114121,118026,120418,121799,126466,132786,136936,143741,147684,147738,154051,163449,171368,173271,175981,176497,181321,183938,184868,186480,196275,198117,198239,202878,203310,203518,203628,206478,207549,208088,210040,211980,216113,219087,219915,220001,220070,221576,224255,224876,232005,233903,244857,250855,253382,253475,256964,258728],[7.341321817201176,3.338544448504566,4.0736558281635435,2.2364992807337103,3.9654422435233108,6.935856709093012,1.048018903194069,2.819533240152136,3.202163239189283,1.085092044088165,3.800362493163862,1.1279200043052693,3.3477188247806073,5.090030018594681,3.8223413998826374,3.7371835915423306,2.800690152350656,3.568560879106538,2.305993910514549,11.184243924783834,4.308775570524469,4.616742314147755,2.6993376580903687,3.5236094912442715,3.1824387338415043,0.5836373338330418,1.641353648399328,0.47648331399217364,6.329720905522696,4.370907351631475,4.522923558930101,5.231108616854587,4.522923558930101,4.568733094961395,1.8805438057480073,1.217733117166153,24.103406993283365,0.9795876538886906,5.326418796658912,4.963018825679009,8.034468997761122,3.974025987214702,2.713901022278265,7.6290038896529575,4.205827601272026,3.6906635759074375,3.399740009531486,1.661149208184109,3.8524188551199154,2.376730461606327,6.935856709093012,3.65244236308724,4.345589543647185,3.8297763783701555,5.8944028342648505,5.8944028342648505,5.783177199154626,4.568733094961395,8.034468997761122,6.242709528533067,6.178523017974642,3.101194824822334,6.019565977218857,0.24418661705763864,1.0179899665959704,7.341321817201176,7.118178265886966,2.3623398091500865,0.8280917062888692,19.275093255981066,6.935856709093012,4.943426544402806,4.600481793275975,1.01681522742077,3.0751269980524163,1.8462048746785318,3.186352633162641,1.962577201540525])'

In [16]:
token_tuple =

SyntaxError: invalid syntax (<ipython-input-16-0083bae1e093>, line 1)

In [ ]:
count, tokens = (token_tuple)

# Trying to tokenize myself

In [ ]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [ ]:
vectorizer = TfidfVectorizer()

In [ ]:
X = vectorizer.fit_transform(merged_df["plot"])
X

In [ ]:
print(vectorizer)
['and', 'document', 'first', 'is', 'one', 'second', 'the', 'third', 'this']
print(X.shape)

In [ ]:
data = merged_df["idf_token"].split(" ")
data

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(data, target, random_state=42)

In [ ]:
# Support vector machine linear classifier
from sklearn.svm import SVC 
model = SVC(kernel='linear')
model.fit(X_train, y_train)